@import "tailwindcss";

:root {}

@theme inline {}

/* 1. The Container */
::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}

/* 2. The Track (Background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 3. The Handle (Thumb) */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  /* The Secret Sauce: 
     A transparent border acts as "padding" to make the thumb look slimmer */
  border: 3px solid transparent;
  background-clip: content-box;
}

/* 4. Interactive Hover State */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /* Darkens slightly when active */
}